<section id="about">
<header class="major">
<h2>Save the Date: August 13, 2016 <br> Ursula and Ernie are getting married!</h2>
	</header>
  <p>Welcome to our wedding website. We are so excited that we're tying the knot, and can’t wait to see you to celebrate with us in beautiful Zion National Park! Thank you to all of our friends and family for your support over the years. We are so grateful to have everyone in our lives.

Please come back and visit! We’ll be continuously updating our site as we get closer to the wedding day.

Ursula and Ernie


Please find information below on <a href="#location">location</a>, <a href="#lodging">lodging</a>, <a href="#schedule">schedule</a> and <a href="#gettingthere">getting there</a>.</p>
</section>
