<section id="faq">
<h2>Frequently Asked Questions</h2>
<h4>Do I have to hike?</h4>
<p>
No! We'll have an optional group hike on Friday. The ceremony and reception are in a small grass meadow along the Virgin River. It's a short walk from either hotel.
</p>
<h4>What's the dress code?</h4>
<p>
The short answer - "semiformal." Think halfway between a tuxedo and khaki's. The ceremony and reception will be outdoors, so plan your shoes accordingly (no heels).
</p>
<h4>Why Utah?</h4>
<p>
Why not? What's wrong with Utah? Seriously though - we love Utah and Zion National Park. If you've never been there, <a target="_blank" href="https://www.google.com/search?q=angel%27s+landing&espv=2&biw=2274&bih=1265&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjVsKuzvOzMAhVBOlIKHVLSDVgQ_AUIBigB#imgrc=_">check out some pictures</a> and you'll see what we mean.
</p>
</section>
