<section id="faq">
<h2>Frequently Asked Questions</h2>
<h4>Do I have to hike?</h4>
<p>
No! We'll have an optional group hike on Friday. The ceremony and reception are in a small grass meadow along the Virgin River. It's a short walk from either hotel.
</p>
<h4>What's the dress code?</h4>
<p>
The short answer - "semiformal." Think suits and summer dresses - halfway between a tuxedo and khaki's. The ceremony and reception will be outdoors. Plan your shoes accordingly (no spiky heels). It will be on the warmer side. Lightweight, loose, flowy outfits will be more comfortable than tight fitting, heavy fabrics.
</p>
<h4>Why Utah?</h4>
<p>
Why not? What's wrong with Utah? Seriously though - we love Utah and Zion National Park. If you've never been there, <a target="_blank" href="https://www.google.com/search?q=angel%27s+landing&amp;espv=2&amp;biw=2274&amp;bih=1265&amp;source=lnms&amp;tbm=isch&amp;sa=X&amp;ved=0ahUKEwjVsKuzvOzMAhVBOlIKHVLSDVgQ_AUIBigB#imgrc=_">check out some pictures</a> and you'll see what we mean.
</p>
</section>
