<section id="gettingthere">
<h2>Getting There</h2>
<ul>
  <li>We recommend flying into <a href="https://www.mccarran.com/">Las Vegas Airport</a>.
  <ul>
    <li>The time zone in Las Vegas is Pacific Daylight Time (3 hours behind New York).</li>
    <li>It's about a <a href="https://www.google.com/maps/dir/McCarran+International+Airport,+5757+Wayne+Newton+Boulevard,+Las+Vegas,+NV+89119/Switchback+Grille,+Zion+%E2%80%93+Mount+Carmel+Highway,+Springdale,+UT/@36.6440284,-114.6518903,9z/am=t/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x80c8c59f1f049c5d:0x471359241ec41e1e!2m2!1d-115.1537389!2d36.0839998!1m5!1m1!1s0x80cae8026b4b8fa3:0xbbb29eea791e4ffc!2m2!1d-113.00234!2d37.1839547">2.5 hour drive</a> from Las Vegas to Springdale.</li>
    <li>The time zone in Springdale is Mountain Daylight Time (2 hours behind New York; <b>1 hour ahead of Las Vegas</b>).</li>
  </ul>
  </li>
  <li>You can also fly into <a href="https://www.slcairport.com/">Salt Lake City Airport</a>.
  <ul>
    <li>The time zone in Salt Lake City (and Springdale) is Mountain Daylight Time (2 hours behind New York).</li>
    <li>It's about a <a href="https://www.google.com/maps/dir/SALT+LAKE+CITY+airport,+North+Terminal+Drive,+Salt+Lake+City,+UT/Switchback+Grille,+Zion+%E2%80%93+Mount+Carmel+Highway,+Springdale,+UT/@38.953603,-114.7197823,7z/am=t/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x8752f38b67d7f4e9:0x6f1f4326f5594819!2m2!1d-111.9790706!2d40.7899404!1m5!1m1!1s0x80cae8026b4b8fa3:0xbbb29eea791e4ffc!2m2!1d-113.00234!2d37.1839547">5 hour drive</a> from Salt Lake City to Springdale.</li>
  </ul></li>
  <li>There are easy car rentals at both airports and the drives are beautiful.</li>
</ul>
</section>
