{{ "<!-- Header -->" | safeHTML }}
<header id="header">
  <h1><strong>August 13, 2016</strong></h1>
  <h1><strong>Zion National Park</strong></h1>
  <h1><strong><a target="_blank" href="https://www.google.com/maps/place/Springdale,+UT/data=!4m2!3m1!1s0x80ca8d360b511ef1:0xd9b264a5aeb7087a?sa=X&amp;ved=0ahUKEwjcp_3v3YvMAhVFET4KHSZWBpgQ8gEIfzAO">Springdale, UT</a></strong></h1>
  <br/>
	<ul class="menu" style="list-style-type: none">
    <li><a href="#about">About</a></li>
    <li><a href="#location">Location</a></li>
    <li><a href="#lodging">Lodging</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#faq">Frequently Asked Questions</a></li>
    <li><a href="#gettingthere">Getting There</a></li>
    <li><a href="#registry">Gift Registry</a></li>
  </ul>
</header>
