{{ "<!-- Header -->" | safeHTML }}
<header id="header">
	<ul class="menu">
    <li><a href="#about">About</a></li>
    <li><a href="#location">Location</a></li>
    <li><a href="#lodging">Lodging</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#logistics">Logistics</a></li>
	</ul>
  <h1>
    <strong>
    August 13, 2016
    <br/>
    Zion National Park
    <br>
    <a href="https://www.google.com/maps/place/Springdale,+UT/data=!4m2!3m1!1s0x80ca8d360b511ef1:0xd9b264a5aeb7087a?sa=X&ved=0ahUKEwjcp_3v3YvMAhVFET4KHSZWBpgQ8gEIfzAO">Springdale, UT</a>
    </strong>
  </h1>
</header>
