<section id="lodging">
<h2>Lodging</h2>

<p>We've blocked rooms at two hotels for the nights of August 11th, 12th, and 13th. You're welcome to stay for some or all of those nights at a group discounted rate.
</p>

<p style="margin: 0px"><a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/springdale/sgusd/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-USA-_-SGUSD">Holiday Inn Express</a>
($169/night)
<br/>
<a href="tel:435-772-3200">(435) 772-3200</a><br/>
<ul style="font-size: 10pt; margin: 0px" >
  <li>Five minute walk to ceremony and reception!</li>
  <li>Pet friendly! Up to three dogs of any size are allowed for an additional fee of $25 per pet.<br> </li>
  <li>Free Wi-Fi</li>
  <li>Free breakfast</li>
  <li>Free parking</li>
  <li>Outdoor pool</li>
  <li>
  To reserve:
  <ul style="margin: 0px">
    <li>
    Call the hotel directly <a href="tel:435-772-3200">435-772-3200</a> and tell them you're making a reservation under block name "Ernie & Ursula Wedding."
   </li>
   <li>Or <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/springdale/sgusd/hoteldetail">Book online</a>
   <ul style="margin: 0px">
     <li>
      Click on the blue sentence "Have A Group Code?"
      </li>
      <li> Enter code: EUW </li>
   </ul>
   </li>
 </ul>
 </li>
   <li>
   Additional nights outside of August 11-14, 2016 will not receive the negotiated group discount.
   </li>
   <li>
   Reservations made after July 11, 2016 will not receive the negotiated group discount.
  </li>
</ul>



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1591.4858609589448!2d-113.002952!3d37.183040000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc79b3a6230beb39!2sHoliday+Inn+Express+Springdale+-+Zion+Natl+Pk+Area!5e0!3m2!1sen!2sus!4v1460847196109" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


<hr>
<p style="margin: 0px"><a href="http://hamptoninn3.hilton.com/en/hotels/utah/hampton-inn-and-suites-springdale-zion-national-park-SGUZIHX/index.html">Hampton Inn & Suites</a>
($199/night)
<br/>
<a href="tel:435-627-9191">(435) 627-9191</a><br/>
<ul style="font-size: 10pt; margin: 0px">
  <li>Five minute walk to ceremony and reception!</li>
  <li>Free Wi-Fi</li>
  <li>Free breakfast</li>
  <li>Free parking</li>
  <li>Outdoor pool</li>
  <li>
  To reserve, call the hotel directly <a href="tel:435-627-9191">435-627-9191</a> and tell them you're making a reservation under block name "Ernie & Ursula Wedding."
 </li>
   <li>
   Additional nights outside of August 11-14, 2016 will not receive the negotiated group discount.
   </li>
   <li>
   Reservations made after July 11, 2016 will not receive the negotiated group discount.
  </li>
</ul>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1589.4264582399733!2d-113.001342!3d37.184914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe28a08cde963511b!2sHampton+Inn+%26+Suites+Springdale%2FZion+National+Park!5e0!3m2!1sen!2sus!4v1460847058020" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</section>
