<section id="logistics">
<h2>Logistics</h2>
<ul>
  <li>Fly into <a href="https://www.mccarran.com/">McCarran International Airport in Las Vegas</a></li>
  <li>Rent a car</li>
  <li><a href="https://www.google.com/maps/dir/McCarran+International+Airport,+Wayne+Newton+Boulevard,+Las+Vegas,+NV/Switchback+Grille,+1149+Zion+%E2%80%93+Mount+Carmel+Highway,+Springdale,+UT+84767/@36.6553065,-114.6532053,9z/am=t/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x80c8c59f1f049c5d:0x471359241ec41e1e!2m2!1d-115.1537389!2d36.0839998!1m5!1m1!1s0x80cae8026b4b8fa3:0xbbb29eea791e4ffc!2m2!1d-113.00234!2d37.1839547!3e0">Drive to Springdale</a></li>
  <li>Call us!</li>
  <li>Relax</li>
</ul>
</section>
